body {
  margin: 0;
}
.expand {
  margin: 10px;
}
nav {
  background-color: #7532f9;
  box-shadow: 5px 9px 20px #bbbbbb;
}
nav h2 {
  margin: 0;
}

nav li:hover {
  opacity: 70%;
}
.container {
  margin-top: 20px;
  min-height: 500px;
  display: flex;
  justify-content: center;
}

form {
  min-width: 60%;
}

.Container-Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.Card-Recipes {
  border: 1px solid rgb(144, 144, 144);
  cursor: pointer;
  height: 260px;
  margin: 20px;
  width: 25%;
}
.Card-Recipes:hover {
  box-shadow: 5px 9px 1px #f0f0f0;
}

.Card-Img {
  height: 170px;
  width: 100%;
}
.Container-Card img {
  height: 100%;
  width: 100%;
}

.Card-Name {
  height: 50px;
  width: 100%;
}

.Card-Name h2 {
  font-family: cursive;
  font-size: 1.3rem;
  font-style: oblique;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: underline;
}

.Card-Fotter {
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
