body {
  margin: 0;
}
.expand {
  margin: 10px;
}
nav {
  background-color: #7532f9;
  box-shadow: 5px 9px 20px #bbbbbb;
}
nav h2 {
  margin: 0;
}

nav li:hover {
  opacity: 70%;
}
.container {
  margin-top: 20px;
  min-height: 500px;
  display: flex;
  justify-content: center;
}

form {
  min-width: 60%;
}

.Container-Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.Card-Recipes {
  border: 1px solid rgb(144, 144, 144);
  cursor: pointer;
  height: 260px;
  margin: 20px;
  width: 25%;
}
.Card-Recipes:hover {
  box-shadow: 5px 9px 1px #f0f0f0;
}

.Card-Img {
  height: 170px;
  width: 100%;
}
.Container-Card img {
  height: 100%;
  width: 100%;
}

.Card-Name {
  height: 50px;
  width: 100%;
}


.Card-Name h2 {
  font-family: cursive;
  font-size: 1.3rem;
  font-style: oblique;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: underline;
}

.Card-Fotter {
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.Scene-Recipe{
  width: 100%;
  margin: 20px;
}

.Section-Name{
  width: 100%;
  text-align: center;
  padding: 1px;
  margin-bottom: 20px;
}

.Section-Name h1{
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.Section-Img{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.Section-Img img{
  width: 50%;
  border:#b6b6b6 2px solid;
}

.Section-Ingredients{
  margin: 20px;
  background-color: #ebebeb;
  padding: 20px;
  border: #7532f9 2px dashed;
}
.Section-Descrip{
  margin: 20px;
  font-size: 1rem;
  font-family:cursive;
}